In [1]:
import pandas as pd
import numpy as np
#Load common functions
# %run common.ipynb
import ipynb.fs.full.common as common

## NOTA IMPORTANTE:
- MML habla de GNP (Gross National Product) == PNB (Producto Bruto Nacional)

Sin embargo, no encontramos existencia de datos de GNP año a año desde 1960 hasta al menos 2000, país por país, para todos los países.
Consultado con Igal, corroboró que no se suele trabajar con GNP.

- El set de datos a comparar entonces es GDP (Gross Domestic Product) == PIB (Producto Interno Bruto)

- La comparación no es directa. Sin embargo, podemos asumir que la diferencia entre GNP y GDP de cada pais es NO significativa.

Más aún, si llegarámos a encontrar algun dataset de GNP de algún país en algun periodo, podriamos efectivamente compararlos. Tal vez, teniendo un candidato de país importante por región alcance (uno de LAM, uno de DEVELOPED, etc)

Otro punto a tener en cuenta es la unidad de medida.
- MML midio GNP a valor USD de 1960
- Notas de Igal: https://es.overleaf.com/9742826469tmfsvjwrxktq

Vamos a intentar reproducir el cambio de base como evidencia de la posibilidad, para un pais en particular.

In [2]:
MML_VARIABLE_ANALYZED = 'GNPXC'
REGION = 'LAM' 
COUNTRY_COL_NAME = 'Country Name'
COUNTRY = "Brasil"

In [5]:
df_lcu_current = pd.read_excel(f"data/{REGION}/pbi per capita LCU current.xlsx", sheet_name='Data')
df_lcu_constant = pd.read_excel(f"data/{REGION}/pbi per capita LCU constant.xlsx", sheet_name='Data')

In [7]:
df_lcu_constant[0:5]

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,GDP (constant LCU),NY.GDP.MKTP.KN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.588000e+09,4.883000e+09,4.882000e+09,5.055000e+09,5.162000e+09,5.445000e+09,5.731290e+09,5.767686e+09,4.695525e+09,5.501864e+09
1,Africa Eastern and Southern,AFE,GDP (constant LCU),NY.GDP.MKTP.KN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,GDP (constant LCU),NY.GDP.MKTP.KN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.086653e+12,1.147514e+12,1.178778e+12,1.195886e+12,1.222917e+12,1.255288e+12,1.270216e+12,1.319902e+12,1.288869e+12,1.021595e+12
3,Africa Western and Central,AFW,GDP (constant LCU),NY.GDP.MKTP.KN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,GDP (constant LCU),NY.GDP.MKTP.KN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.468722e+12,1.541424e+12,1.615721e+12,1.630909e+12,1.588831e+12,1.586448e+12,1.565565e+12,1.554606e+12,1.467548e+12,1.483691e+12

In [9]:
del df_lcu_constant['Country Code']
del df_lcu_constant['Indicator Name']
del df_lcu_constant['Indicator Code']
for year in range(1960,1970,1):
    del df_lcu_constant[str(year)]

KeyError: 'Country Code'

In [ ]:
def fix_countries_for_region(df, region=REGION):
    '''Match country column name in dataset with MML dict of country names for region.
    Unfortunately, it's a manual job. We know which names are missing according to MML, but we don't how the truth dataset named that country (if exists at all).
    
    '''
    if region == 'DEVELOPED':
        fix_countries_for_developed(df)
    if region == 'LAM':
        fix_countries_for_lam(df)
def fix_countries_for_lam(df):
    common.replace_value_in_column(df,COUNTRY_COL_NAME, 'Brazil', 'Brasil')
    common.replace_value_in_column(df,COUNTRY_COL_NAME, 'Trinidad and Tobago', 'Trinidad y Tobago')
    common.replace_value_in_column(df,COUNTRY_COL_NAME, 'Dominican Republic', 'Republica Dominicana')
def fix_countries_for_developed(df):
    common.replace_value_in_column(df,COUNTRY_COL_NAME, 'Ukraine', 'Ucrania')
    common.replace_value_in_column(df,COUNTRY_COL_NAME,'Bosnia and Herzegovina','Bosnia y Herzegovina')
    common.replace_value_in_column(df,COUNTRY_COL_NAME,'Kyrgyz Republic','Kirguistan')
    common.replace_value_in_column(df,COUNTRY_COL_NAME,'Germany','Alemania')
    common.replace_value_in_column(df,COUNTRY_COL_NAME,'France','Francia')
    common.replace_value_in_column(df,COUNTRY_COL_NAME,'Macedonia, FYR','Macedonia')
    common.replace_value_in_column(df,COUNTRY_COL_NAME,'Slovenia','Eslovenia')
    common.replace_value_in_column(df,COUNTRY_COL_NAME,'Slovak Republic','Eslovaquia')
    common.replace_value_in_column(df,COUNTRY_COL_NAME,'Switzerland','Suiza')
    common.replace_value_in_column(df,COUNTRY_COL_NAME,'Denmark','Dinamarca')
    common.replace_value_in_column(df,COUNTRY_COL_NAME,'United Kingdom','Reino Unido')
    common.replace_value_in_column(df,COUNTRY_COL_NAME,'New Zealand','Nueva Zelanda')
    common.replace_value_in_column(df,COUNTRY_COL_NAME,'Spain','España')
    common.replace_value_in_column(df,COUNTRY_COL_NAME,'Poland','Polonia')
    common.replace_value_in_column(df,COUNTRY_COL_NAME,'Ireland','Irlanda')
    common.replace_value_in_column(df,COUNTRY_COL_NAME,'Romania','Rumania')
    common.replace_value_in_column(df,COUNTRY_COL_NAME,'Finland','Finlandia')
    common.replace_value_in_column(df,COUNTRY_COL_NAME,'Moldova','Moldavia')
    common.replace_value_in_column(df,COUNTRY_COL_NAME,'Sweden','Suecia')
    common.replace_value_in_column(df,COUNTRY_COL_NAME,'Kazakhstan','Kazajistan')
    common.replace_value_in_column(df,COUNTRY_COL_NAME,'Russia','Rusia')
    common.replace_value_in_column(df,COUNTRY_COL_NAME,'Latvia','Letonia')
    common.replace_value_in_column(df,COUNTRY_COL_NAME,'Norway','Noruega')
    common.replace_value_in_column(df,COUNTRY_COL_NAME,'Lebanon','Libano')
    common.replace_value_in_column(df,COUNTRY_COL_NAME,'Czech Republic','Republica Checa')
    common.replace_value_in_column(df,COUNTRY_COL_NAME,'Hungary','Hungria')
    common.replace_value_in_column(df,COUNTRY_COL_NAME,'Azerbaijan','Azerbaiyan')
    common.replace_value_in_column(df,COUNTRY_COL_NAME,'Japan','Japon')
    common.replace_value_in_column(df,COUNTRY_COL_NAME,'United States','EEUU')
    common.replace_value_in_column(df,COUNTRY_COL_NAME,'Greece','Grecia')
    common.replace_value_in_column(df,COUNTRY_COL_NAME,'Italy','Italia')
    common.replace_value_in_column(df,COUNTRY_COL_NAME,'Belgium','Belgica')
    common.replace_value_in_column(df,COUNTRY_COL_NAME,'Belarus','Bielorrusia')
    common.replace_value_in_column(df,COUNTRY_COL_NAME,'Tajikistan','Tayikistan')
    common.replace_value_in_column(df,COUNTRY_COL_NAME,'Croatia','Croacia')
    common.replace_value_in_column(df,COUNTRY_COL_NAME,'Lithuania','Lituania')
    common.replace_value_in_column(df,COUNTRY_COL_NAME,'Netherlands','Paises Bajos')

In [ ]:
print(f"Missing countries for region {REGION}")
missing_countries = common.get_missing_countries_for_region(df, COUNTRY_COL_NAME, REGION)
print(missing_countries)
fix_countries_for_region(df)
missing_countries = common.get_missing_countries_for_region(df, COUNTRY_COL_NAME, REGION)
print("Missing countries for region after fix")
print(missing_countries)

In [ ]:
df_truth = common.get_countries_for_region(df, COUNTRY_COL_NAME, REGION)
# assert len(df_truth) == len(common.regions[REGION]['countries']), 'MISSING COUNTRIES FOR REGION'

In [ ]:
years_filtered = np.arange(1970,2001,1)
columns_filter = np.append([COUNTRY_COL_NAME],years_filtered)

df_truth = df_truth[columns_filter]
assert 0 == df_truth.isna().sum().sum(), "MISSING VALUES. CONSIDER FILL STRATEGY" #If 0, then we don't have missing values.
assert not (df_truth == 0).any().any(), "CELLS WITH 0"

### MISSING VALUES PATCH (DISMISSED. Remove)
We don't have information for **Venezuela**.
Try to get it, and then inject it in dataset.
In the meantime, will fill those values with

# df_truth[df_truth.isna().any(axis=1)][['Country Name', '1970', '1972', '1974', '1976', '1978', '1980', '1982', '1984',
#        '1986', '1988', '1990', '1992', '1994', '1996', '1998', '2000']]

if REGION == 'LAM':
    whole_mean = df_truth.mean().mean()
    df_truth.loc[df_truth[COUNTRY_COL_NAME]=='Venezuela', ['1970', '1972', '1974', '1976', '1978', '1980', '1982', '1984',
           '1986', '1988', '1990', '1992', '1994', '1996', '1998', '2000',
           '2002', '2004', '2006', '2008', '2010', '2012', '2014', '2016',
           '2018']] = whole_mean


df_truth[df_truth[COUNTRY_COL_NAME]=='Venezuela']

Finally, we got our truth dataframe. Now, MML

In [ ]:
df_mml = common.get_mml_data(REGION)
df_mml = df_mml[['Year',MML_VARIABLE_ANALYZED]]
df_mml = df_mml[df_mml.Year >= 1970]
df_mml = df_mml[df_mml.Year <= 2000]
df_mml[MML_VARIABLE_ANALYZED] = df_mml[MML_VARIABLE_ANALYZED] * CONVERSION_COEFICIENT
df_mml[0:3]

In [ ]:
df_truth[0:3]


We need to transpose df, and group by some condition

In [ ]:
df_T = df_truth.copy().set_index(COUNTRY_COL_NAME).T
df_T = df_T.reset_index().rename(columns={"index": "Year"})
df_truth = df_T.astype({'Year': 'int64'})
df_truth['mean'] = df_truth.iloc[:, 1:len(common.regions[REGION]['countries'])+1].mean(axis=1)
df_truth_aggs = df_truth[['Year','mean']]

In [ ]:
df_comparison = pd.merge(df_mml,df_truth_aggs,on='Year').rename(columns={MML_VARIABLE_ANALYZED: "mml_value", "mean":"truth_mean"})
df_comparison[0:15]

Let's plot, calculate errors and that stuff

In [ ]:
common.compare_mml_vs_truth_line_plot(df=df_comparison, x_col_name='Year', y_col_mml='mml_value', y_col_truth='truth_mean',variable_analyzed=MML_VARIABLE_ANALYZED, region=REGION)

In [ ]:
df_comparison['proportion_difference'] = df_comparison['truth_mean'] / df_comparison['mml_value']

In [ ]:
df_comparison

### Error visualization

In [ ]:
common.compute_porcentual_diff_between_truth_and_mml(df_comparison,'mml_value', 'truth_mean')
common.porcentual_diff_plot(df_comparison,MML_VARIABLE_ANALYZED, REGION, years_filtered, np.arange(-50,51,10))

common.save_porcentual_diff_to_excel_for_variable(df_comparison, MML_VARIABLE_ANALYZED, REGION)